Include /etc/ssh/sshd_config.d/*.conf

Port 22

LoginGraceTime 2m
PermitRootLogin prohibit-password
#StrictModes yes
MaxAuthTries 10
MaxSessions 3

PubkeyAuthentication yes

PasswordAuthentication no
PermitEmptyPasswords no

KbdInteractiveAuthentication no

KerberosAuthentication no

GSSAPIAuthentication no

UsePAM no

DisableForwarding yes
AllowAgentForwarding no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no

PrintMotd no
PrintLastLog no
TCPKeepAlive yes
PermitUserEnvironment no
Compression no
ClientAliveInterval 60
ClientAliveCountMax 10
UseDNS no
PermitTunnel no

Banner none

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# override default of no subsystems
Subsystem sftp  /usr/lib/openssh/sftp-server